{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{name}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'money_tracker:show_tracker' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'money_tracker:create_transaction' %}">Transaksi Baru</a>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'money_tracker:logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h5>Data Transaksi</h5>

<table>
    <tr>
        <th>Nama</th>
        <th>Jenis</th>
        <th>Jumlah</th>
        <th>Tanggal</th>
        <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for transaction in list_of_transactions %}
    <tr>
        <td>{{transaction.name}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.date}}</td>
        <td>{{transaction.description}}</td>
        <td>
            <a href="{% url 'money_tracker:modify_transaction' transaction.pk %}">
              <button>
                  Ubah
              </button>
            </a>
            <a href="{% url 'money_tracker:delete_transaction' transaction.pk %}">
              <button>
                  Hapus
              </button>
            </a>
        </td>
    </tr>
{% endfor %}
</table>

<h7>Sesi terakhir login: {{ last_login }}</h7>

<br>

{% endblock content %}
